<p>
  login works!
</p>


<form class="bg-info">

 <div class="form-row ">
        <div class="col-xs-6"></div> 
    <div class="col-xs-2" >
      <label for="inputEmail">Email or Phone No:</label>
    </div>
    <div class="col-sm-4">
      <label for="Password">Password:</label>
    </div>
    </div>

    <div class="form-row">
        <div class="col-xs-6"></div>
        <div class="col-xs-2">
      <input type="text" id="inputEmail" placeholder="Enter email Id">
      </div>
      <div class="col-xs-4">
      <input type="text" id="Password" placeholder ="Enter your Password">
    </div> 
    </div>
 


  </form>